.cart {
	display: grid;
	gap: 1rem;
}

.cart .cart-action {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 1rem;
}

hr {
	border: none;
	background-color: var(--lgray);
	width: 100%;
	height: 0.1rem;
}

.items {
	display: grid;
	gap: 2rem;
}

.item {
	display: flex;
	gap: 2rem;
}

@media (max-width: 600px) {
	.item {
		flex-direction: column;
	}
}

.item .image {
	width: 12.5rem;
	height: 12.5rem;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	gap: 1rem;
}

.info > div {
	width: 100%;
}

.info .text {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
}

@media (max-width: 600px) {
	.info {
		flex-direction: column;
	}
}
