.catalog {
	display: grid;
	gap: 2rem;
}

.cards {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	place-content: center;
}

@media (max-width: 800px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 600px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.cards {
		grid-template-columns: 1fr;
	}
}

.cards .card {
	display: grid;
	gap: 1rem;
	text-align: center;
}
