main {
	padding: 2rem;
	align-items: center;

	img {
		height: 50vh;

		@media (max-width: 500px) {
			height: auto;
			width: 50vw;
		}
	}
}

span {
	color: var(--main);
}

@media (max-width: 500px) {
	h1 {
		font-size: 1.75rem;
	}
}
