.intr {
	width: 100%;
	height: 31.25rem;
	padding: 2rem;
	color: var(--main);
	background: url('../assets/index/intr/1.jpg');
	background-size: cover !important;
	background-position: center !important;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 2rem;

	text-align: right;
}

.intr .intr-h {
	font-weight: bold;
	font-size: 1.75rem;
}

.intr .btns {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 1rem;
}

@media (max-width: 700px) {
	.intr .btns {
		flex-wrap: wrap;
		text-align: center;
	}

	.intr .intr-h {
		font-size: 1.25rem;
	}
}

.categories {
	display: grid;
	gap: 2rem;
}

.categories .cards {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	place-content: center;
}

@media (max-width: 800px) {
	.categories .cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 600px) {
	.categories .cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.categories .cards {
		grid-template-columns: 1fr;
	}
}

.categories .cards .card {
	display: grid;
	gap: 1rem;
	text-align: center;
}

.sale {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;

	color: var(--white);
	background-color: var(--main);
}

@media (max-width: 500px) {
	.sale {
		align-items: center;
		flex-wrap: wrap;
	}
}

.sale .text {
	display: grid;
	gap: 0.5rem;
}

.sale img {
	width: 4.7rem;
	height: 2.8rem;
}

.collections {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

@media (max-width: 900px) {
	.collections {
		grid-template-columns: 1fr;
	}
}

.collections .coll {
	display: grid;
	gap: 1.25rem;
}

.collections .image {
	height: 31.25rem;
}

.gift {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 2rem;

	background-color: var(--main);
}

@media (max-width: 900px) {
	.gift {
		grid-template-columns: 1fr;
	}
}

.gift .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.25rem;

	color: var(--white);
}

.gift .text .btn {
	width: fit-content;
	color: inherit;
	border: 0.1rem solid var(--white);
	padding: 1rem;
}

.gift .text .btn:hover {
	color: var(--main);
	background-color: var(--white);
}

.inspo {
	overflow: hidden;
	padding: 2rem;

	color: var(--white);
	background-color: var(--main);
}

.inspo .h2 {
	margin-bottom: 2rem;
}

.inspo .images {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
	overflow-x: scroll;
}
