main {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;

	section {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	@media (max-width: 750px) {
		grid-template-columns: 1fr;
	}
}

[class^='btn'] {
	width: 100%;
}

form {
	display: grid;
	gap: 1.25rem;

	label[for='send-ads'] {
		display: flex;
		gap: 0.5rem;
	}
}

input {
	padding: 1rem;
}

.or {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	color: var(--dgray);
}

.or div {
	background-color: var(--dgray);
	width: 0.1rem;
	height: 100%;
}
